body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
}

/* .video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
} */

.video-fondo {
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: cover;
    pointer-events: none; 
}

.contenido {
    position: relative;
    z-index: 1;
    /* Estilos adicionales para el contenido */
}
